#footer.section>div {
	padding-bottom:120px;
}
#logo_footer {
	display: block;
	float: left;
	width:200px;
	height:29px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url(/images/stopcard_logo_footer2.png);
	text-indent: -5000px;
	overflow: hidden;
}
#footer_right {
	float: right;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 29px;
	color:#969696;
}
#back_to_top {
	color:#FFF;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#logo_footer {
		background-image: url(/images/stopcard_logo_footer2@2x.png);
	}
}

/* @media screen and (max-width: 600px) { */