#home.section>div {
	padding-top:80px;
}
#home h2 {
	font-size:36px;
	color:#dfdfdf;
	font-weight: 300;
	letter-spacing: -1px;
}

@media screen and (max-width: 920px) {
	#home h2 {
		font-size:26px;
	}
}
@media screen and (max-width: 767px) {
	#home.section>div {
		padding-top:20px;
	}
	#home h2 {
		font-size:26px;
	}
}
@media screen and (max-width: 480px) {

	#home h2 {
		font-size:22px;
	}
}