#how-stopcard-works.section {
	background:#262626;
}

.clear {
	clear:both;
}
.gif_rotator {
	height:106px;
	margin-top:100px;
	margin-bottom:100px;
}
.gif_wrapper {
	width:553px;
	position: absolute;
	left:50%;
	margin-left:-276px;
	-webkit-transition:-webkit-transform .7s, opacity .3s;
	opacity:0;
}
.gif {
	float:left;
	width:160px;
}
.gif_info {
	float:left;
	width:373px;
	margin-left:20px;
}
#how-stopcard-works h3 {
	margin-top:0px;
}

.prev {
	-webkit-transform: translateX(-660px);
}
.next {
	-webkit-transform: translateX(660px);
}

.gif_wrapper.on {
	opacity:1;
}
.next_button, .prev_button {
	opacity:.7;
	position:absolute;
	left:50%;
	z-index:5000;
	margin-top:30px;
	cursor:pointer;
	-webkit-transition: .2s;
}
.next_button:hover, .prev_button:hover {
	opacity:1;
}
.next_button:active, .prev_button:active {
	-webkit-transform:translateY(2px);
}
.next_button {
	margin-left:320px;
}
.prev_button {
	margin-left:-360px;
}
.next_button.off, .prev_button.off {
	opacity:0;
	cursor:default;
}

@media screen and (max-width: 768px) {

.gif_rotator {
	height:250px;	
	width:100%;
	margin-top:50px;
	margin-bottom:50px;
}
.gif_wrapper {
	width:100%;
	left:0;
	margin-left:0px;
}
.gif {
	float:none;
	margin:0px auto;
}	
.gif_info {
	float:none;
	width:auto;
	margin:0px auto;
	text-align:center;
	padding:20px;
}
.next_button {
	margin-left:100px;
}
.prev_button {
	margin-left:-125px;
}
	
}