

#logo {
	display: block;
	float: left;
	width:276px;
	height:40px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(/images/stopcard_logo3.png);
	text-indent: -5000px;
	overflow: hidden;
}
#header.section {
	background:#FFF;
	position: absolute;
	top:0;
	width:100%;
	z-index: 9000;
}
.no-touch #header.section.scrolled {
	position: fixed;
}
#header.section>div {
	padding:20px 0;
}
.no-touch #header.section.scrolled>div {
	padding:20px 0;
}
#nav {
	float: right;
}
#nav a:link {
	display: block;
	line-height: 25px;
	float: left;
	margin:15px 0 0 20px;
	border-bottom:2px solid rgba(0,0,0,0);
	text-transform: uppercase;
	font-size:12px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	font-family: 'Bitter', serif;
	color:#000000;
}
#nav a:hover {
	text-decoration: none;
	}
.no-touch #nav a:hover {
	border-bottom:2px solid #A51010;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.no-touch #nav a:active {
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}

@media screen and (min-width: 1640px) {

	#header.section {
		background:#FFF;
		position: absolute;
		top:0;
		width:100%;
		z-index: 9000;
	}
	#header.section.scrolled {
		left:50%;
		width:1640px;
		margin-left:-820px;
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#logo {
		background-image: url(/images/stopcard_logo3@2x.png);
	}
}

@media screen and (max-width: 920px) {
	#logo {
		width: 190px;
	}
	#nav a:link {
		font-size:10px;
	}
	#header.section>div {
		 margin:0px 60px;
	 }
	
}

@media screen and (max-width: 767px) {
	 #header.section {
		 position:static;
	 }
	 #logo {
		 float:none;
	 }
	 #nav {
		 float:none;
	 }
	 #nav a:link {
	 	float:none;
	 }
} 